# Homework \#0 Report
***
- 작성자 : B889047 윤준호
- 작성일 : 2022 / 09 / 11,
Sun

In [1]:
from typing import Any, MutableSequence,Union

# Task 1: Variables

Create a variable with name ```university``` and assign the string value ```Hongik```to it.

In [2]:
university:str = "Hongik"

In [3]:
print(university)

Hongik

Create a list named ```fruits``` with the following elements:
- ```'apple'```
- ```'banana'```
- ```'lemon'```

In [4]:
fruits:list[str] = ['apple','banana','lemon']

Create a dictionary named ```my_dictionary``` with following key, value pairs:
- 'a' -> 'b'
- 5 -> 10.0
- 'hello' -> 'goodbye'

In [5]:
my_dictionary:dict[Union[str,int,float],Union[str,int,float]] = {
    'a' : 'b',
    5 : 10.0,
    'hello' : 'goodbye'
}

try below the autocomplete function by typing ```my``` and pressing ```<tab>```

In [6]:
my_dictionary

{'a': 'b', 5: 10.0, 'hello': 'goodbye'}

Access the value of key ```'hello'``` in ```my_dictionary```

In [7]:
my_dictionary['hello']

'goodbye'

Create an empty set named ```my_set``` and add the values ```5``` and ```7```

In [8]:
my_set:set[int] = {5,7}

# Task 2: Conditions and operators
Print out if the element ```'cherry'``` is in list named ```fruits```

In [9]:
print('cherry' in fruits)

False

Print out ```wow``` if more than 1 element is in set named ```my_set```, otherwise print out ```not so many```

In [10]:
print('wow') if len(my_set) > 1 else print('not so many')

wow

# Task 3: Loops

Loop through the items in the ```fruits``` list and print each element.

In [11]:
for i in fruits: print(i)

apple
banana
lemon

In [12]:
print(*fruits,sep='\n')

apple
banana
lemon

Create a variable ```j``` set it to ```0``` and use a while loop to increase it until ```5```

In [13]:
j = 0
while j != 5:
    j = j + 1

In [14]:
j

5

Use a for loop and the ```range``` function to loop over ```fruits``` and print each element

In [15]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
lemon

# Task 4: Functions

Define a function ```calc``` which has one parameter ```my_number``` and returns the value multiplied by 2

In [16]:
def calc(my_number:int) -> int:
    return my_number * 2

Call that function with the value ```5``` and print the output

In [17]:
calc(5)

10

Python has a ```sorted(iterable, key)``` function and key can be a lamdba function which gets one item and return a value which is the sorting key.

As an example: ```sorted_fruits = sorted(fruits, key=lamdba x: x[1])``` which sorts on the second character of each element in the list.

Sort now the list by the length of the strings.

In [18]:
sorted_fruits = sorted(fruits,key=lambda x: len(x))

In [19]:
sorted_fruits

['apple', 'lemon', 'banana']

Define a function that, given a string, returns the number of upper case and lower case characters in it.

In [20]:
def countLowerAndUpper(string:str) -> dict[int,int]:
    return {
        "upper_case" : len(list(filter(lambda x: x.isupper() ,string))),
        "lower_case" : len(list(filter(lambda x: x.islower() ,string)))
    }

In [21]:
countLowerAndUpper("HelloWorld")

{'upper_case': 2, 'lower_case': 8}

In [22]:
countLowerAndUpper("PythonFuNcTIONTest")

{'upper_case': 8, 'lower_case': 10}

In [23]:
from functools import reduce

In [24]:
def countLowerAndUpperReduce(string:str) -> dict[int,int]:
    return {
        "upper_case" : reduce(lambda x,y: x + 1 if y.isupper() else x + 0,string,0),
        "lower_case" : reduce(lambda x,y: x + 1 if y.islower() else x + 0,string,0)
    }

In [25]:
countLowerAndUpperReduce("HelloWorld")

{'upper_case': 2, 'lower_case': 8}

In [26]:
countLowerAndUpperReduce("PythonFuNcTIONTest")

{'upper_case': 8, 'lower_case': 10}